<h1>New tasks</h1>
<%= form_with model: @task do |f| %>
  <div>
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :Details %>
    <%= f.text_field :details %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
<%= link_to "Back to the list", tasks_path %>
